.background {
  background-color: rgb(12, 30, 36);
  padding-top: 2%;
  height: 100%;
}

.container {
  padding-top: 2%;
  width: 80vw;
  background-color: white;
  margin: auto;
  border-radius: 10px;
}

.hero {
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
}

.card-container {
  display: flex;
  justify-content: space-evenly;
}

.card-left,
.card-right {
  margin-top: 5%;
  width: 30%;
  box-shadow: 0 0 7px lightgrey;
  border-radius: 10px;

  &__price,
  &__open {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  &__open {
    margin-bottom: 5%;
  }
}

.trending-title,
.news-title {
  text-align: center;
  margin-top: 6%;
  margin-bottom: 2%;
}

.links {
  text-decoration: none;
  color: black;
}

.trending {
  display: flex;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  overflow-y: hidden;
  overflow-x: scroll;
  white-space: nowrap;
  text-decoration: none;
}

.trending-container {
  display: table;
  width: 50%;
  width: 12rem;
  margin: 1rem;
  border-radius: 7px;
  box-shadow: 0 0 7px lightgrey;
  text-decoration: none;
}

.news {
  padding-bottom: 5%;
}

.news-container {
  padding-left: 0.5%;
  padding-top: 0.5%;
  display: flex;
  margin: auto;
  width: 75%;
  box-shadow: 0 0 7px lightgrey;
  border-radius: 5px;
}

.news-image {
  margin-right: 3%;
  &__image {
    max-width: 16rem;
    border-radius: 5px;
  }
}

.news-copy {
  &__top {
    display: flex;
    padding-right: 4%;
    justify-content: space-between;
  }
  &__desc {
    width: 95%;
  }
}
