.container {
  width: 80vw;
  margin: auto;
  border-radius: 10px;
}

.chart-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  &__title {
    margin-left: 10%;
  }
  &__change {
    width: 12rem;
    display: flex;
    justify-content: space-between;
  }
}

.chart-container {
  margin-left: 5%;
  padding-bottom: 5%;
}
