@use "../../styles/partials/mixins" as *;

.portfolio-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio-container {
  width: 80%;
  box-shadow: 0 0 7px lightgrey;
  border-radius: 5px;
}

.portfolio-container__header {
  display: flex;
  margin: auto;
  justify-content: space-evenly;
  padding-top: 2%;
  padding-bottom: 2%;
  border-bottom: 2px solid lightgray;
  margin-bottom: 2%;
  @include font(1rem, 1rem, 400);
}

.portfolio-item {
  &__row {
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: space-evenly;
    padding-top: 1%;
    padding-bottom: 2%;
    flex: 1;
    text-align: center;
  }
  &__symbol,
  &__position,
  &__shares,
  &__price,
  &__current-price,
  &__pnl {
    width: 90%;
    @include font(1rem, 1rem, 300);
    flex: 1;
    position: relative;
  }
  &__symbol {
    margin-left: 5%;
  }
  &__position {
    margin-left: 1%;
  }

  &__current-price {
    margin-left: 1%;
  }
  &__pnl {
    margin-left: 2%;
    color: #2962ff;
  }
  &__delete {
    margin-right: 1.5%;
    border-radius: 30px;
    border: 1px solid lightgray;
    background-color: rgb(253, 89, 89);
  }
}

.add-button {
  background-color: #2962ff;
  color: #fcf7f8;
  @include font(1rem, 0rem, 400);
  margin-top: 2%;
  height: 2rem;
  width: 7rem;
  border-radius: 20px;
  border: 1px solid lightgray;
}
