.portfolio-container__header {
  display: flex;
  margin: auto;
  width: 80%;
  justify-content: space-evenly;
  padding-top: 2%;
  padding-bottom: 2%;
  border-bottom: 2px solid lightgray;
  box-shadow: 0 0 7px lightgrey;
}
